{
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": ["*.json", ".*rc", "*.md"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": ["*.md"],
            "options": {
                "printWidth": 120
            }
        }
    ]
}
